language: node_js
node_js:
  - "node"
before_deploy: "npm run build"
deploy:
  skip_cleanup: true
  provider: firebase
  token:
    secure: IPyGzFwYtguLgvBVWXzor6u47GUR5TMQOTLEDbFjCEVnhgTw6pOZg/o3A535FYKtKTJ7uQvsXlneqE2v7pEz5fnVc6VL7spl4z8bzDGAjqMtHZ5P1TE/pfIziixpTwXgYVqjCDjeoAkO1QnUFld/cLMIWJoR2DSoFlAvoHtWSpXZ5/RZ/3xlfGj6D+egLZxK/wouSVdKMaQIJVv/3AslGZqGFNkZeg3sDpDGxvDjkpcEopEP9yQI5szuIoQXpQEVOjWSlGlHzbT8FN1rtOywEstFeZ/wD7od4nJLgc+xOIGalP9lnuWRcK4YD82k9++xyhQ28ZkGgT9HAqdnUHbMzTwPvnh/mwHwx6/EQ6Yb9WmGeuakLeTN7SVOUrK9NXuD9q0Y1NE8S17JcmeYVZOfQlaOAoybR6Hfxsl2MgPEc4E1rUn4WkPnAwZnv7v4Z0sfLA50kNkGphK/LemhZd3eMALM5Qgw9VcJXhSYPFkxtyWtznGF8jKDxMDli9zs7UNA9yP41D+KvUsAgBu26KXJvSeVd2JWlhrUVlvfv3BmIRCnsOU+I0IAq6KexWczx7RTCirmvYjK0ARcIUD39R7OvAPdfGs5c+6vaURjqhtqr23ZDUY3xk9/WyxdvXHgf6DqWve6YVceuI1ch8so0QqE7C1lCt0fGsQqQsBc+ooHM/k=