.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* TransactionView */
.transaction-header {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

.budget-view-stats {
  display: 'flex';
  flex-direction: 'column';
}

@media (min-width: 720px) {
  .budget-view-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

/* AddTransaction */
.transaction-adder-form {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.transaction-adder-form .input {
  margin: 0.8rem;
  justify-content: center;
}

.transaction-adder-form .dropdown {
  margin: 0.8rem;
  justify-content: center;
}

.reoccuring-cb {
  height: 100%;
  margin: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

@media (min-width: 1024px) {
  .transaction-adder-form {
    flex-direction: row;
  }
}

.alert {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.alert.danger {
  background-color: lightpink;
  border-color: pink;
}

.alert-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.alert-body {
  width: 100%;
  text-align: left;
}